body{
    margin: 0%;
    padding: 0%;
    font-family: "Roboto";
}

a{
    text-decoration: none; 
 } 

 a:hover{
    text-decoration: underline;
}

img{
    height: 100%;
    width: 100%;
}

p{
   margin: 0 0 0 0;
}
   
.main{
    min-width: 1300px;
    height: 100%;
    /* border: red solid 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    /* position: fixed;
  top: 0; */
    width: 100%;
    min-height: 60px;
    /* border: green solid 1px; */
    background: #000000bd;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.h_content{

    width: 90%;
    min-height: 60px;
    /* border: blue solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.h_first_content{
    width: 75%;
    height: 60px;
    /* border: blue solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h_second_content{
    width: 20%;
    height: 60px;
    /* border: blue solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    padding: 0 20px;
}
.h_link{
    height: 100%;
    /* border:red solid 1px; */
    font-size: 1.3em;
    font-family: "Roboto";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.h_link:hover{
    background: #ffffff27;
}

.btn_login{
    font-size: 1em;
    font-family: "Roboto";
    width: 80px;
    height: 40px;
    background:  white;
    border: solid 0px;
    border-radius: 3px;
}

.content{
    top: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.banner{
    width: 100%;
    height: 600px;
    background: #f7b0c542; 
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    border-bottom: rgba(0, 0, 0, 0.089) solid 1px;

}

.banner_content{
    width: 90%;
    height: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.banner_photo{
    width: 40%;
    height: 100%;
    
}



.banner_text{
    width: 60%;
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.banner_text1{
    font-size: 2.5em;
    font-weight: bold;
}

.banner_text2{
    height: 60%;
    width: 90%;
    font-size: 1.3em;
    color: #000000bd;
    text-align: center;

}

.banner_text3{
    width: 70%;
    font-size: 1.3em;
    color: #000000bd;
    text-align: center;
}

.slogan{
    /* padding-top: 60px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    background: #000000bd;
    /* border:green 1px solid; */
}

.slogan_box{
    width: 25%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    /* border:green 1px solid; */
}

.fit{
    color: rgb(143, 204, 253);

}

.fit_ico{
    height: 30px;
    width: 30px;
    padding: 0 0 0 10px;


}

.food{
    
    color: rgb(155, 248, 152);

}

.posit{
    color: rgb(253, 239, 160);
}

.trainer{
    width: 80%;
}

.h1_trainer{
    padding-top: 60px;
    font-size: 1.6em;
    color: #747171;
    text-align: center;
    /* border: 1px solid blue; */
    
}

.about_trainer{
    width: 100%;
    border-top: 2px  #747171c0 solid;
    font-size: 1.2em;
    
}

.about_training{
    width: 100%;
    border-top: 2px  #747171c0 solid;
}

.about_trainig_text{
    margin: 15px 0 15px 0;
    width: 100%;
    font-size: 1.2em;
}

.training_banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.training_row{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.training_box{
    width: 33%;
    height: 100px; 
   
    border: rgba(0, 0, 0, 0.096) solid 1px;
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
    padding: 0 5px 5px 0;
    font-size: 2em;
    color: #000000bd;
}

.tb1{
    
    background: rgb(255, 199, 216);

}

.tb1:hover{
    background: rgb(250, 216, 230);

} 
.tb2{
    
    background: rgb(255, 251, 202);

}

.tb2:hover{
    background: rgb(255, 253, 222);

}

.tb3{
    background: rgb(244, 202, 255);

}

.tb3:hover{
    background: rgb(249, 226, 255);

}

.tb4{
    
    background: rgb(201, 255, 241);
}

.tb4:hover{
    background: rgb(222, 255, 247);

}

.tb5{
    
    background: rgb(255, 206, 206);
}

.tb5:hover{
  
    background: rgb(255, 224, 224);
}

.tb6{
    background: rgb(204, 200, 255);

}

.tb6:hover{
    background: rgb(227, 225, 255);

}

.about_contacts{
    width: 100%;
    border-top: 2px  #747171c0 solid;
    
}

.contacts_text{
    margin-top: 20px;
}

.contacts{
    margin-top: 50px;
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.contacts_res{
    margin-top: 20px;
    width:100%;
    height: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}

.soc{
    height: 50px;
    width:40%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.soc_box{
    height: 50px;
    width: 50px;
}

.footer{
    margin-top: 100px;
    width: 100%;
    height: 70px;
    background: #9e9d9d;
    display: flex;
    justify-content: center;
}

.f_content{
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.f_block{
    width: 40%;
    height: 70px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    font-size: 0.9em;
    color: black;
}
 



