

body{
    margin: 0%;
    padding: 0%;
    font-family: "Roboto";
    font-size: 1em;
    
}

a{
    text-decoration: none; 
 } 

 a:hover{
    text-decoration: underline;
}

img{
    height: 100%;
    width: 100%;
}

p{
   margin: 0 0 0 0;
}
   
.main{
    min-width: 1300px;
    /* min-height: 100vh; */
    /* border: red solid 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    /* position: fixed;
  top: 0; */
    width: 100%;
    min-height: 60px;
    /* border: green solid 1px; */
    background: #000000bd;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.h_content{

    width: 90%;
    min-height: 60px;
    /* border: blue solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.h_first_content{
    width: 75%;
    height: 60px;
    /* border: blue solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h_second_content{
    width: 20%;
    height: 60px;
    /* border: blue solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    padding: 0 20px;
}
.h_link{
    height: 100%;
    /* border:red solid 1px; */
    font-size: 1.3em;
    font-family: "Roboto";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.h_link:hover{
    background: #ffffff27;
  
    text-decoration: none;
}

.btn_login{
    font-size: 1em;
    font-family: "Roboto";
    width: 80px;
    height: 40px;
    background:  white;
    border: solid 0px;
    border-radius: 3px;
}

.content{
    top: 60px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.banner{
    width: 100%;
    height: 600px;
    background: #f7b0c542; 
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    border-bottom: rgba(0, 0, 0, 0.089) solid 1px;

}

.banner_content{
    width: 90%;
    height: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.banner_photo{
    width: 40%;
    height: 100%;
    
}



.banner_text{
    width: 60%;
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.banner_text1{
    font-size: 2.5em;
    font-weight: bold;
}

.banner_text2{
    height: 60%;
    width: 90%;
    font-size: 1.3em;
    color: #000000bd;
    text-align: center;

}

.banner_text3{
    width: 70%;
    font-size: 1.3em;
    color: #000000bd;
    text-align: center;
}

.slogan{
    /* padding-top: 60px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    background: #000000bd;
    /* border:green 1px solid; */
}

.slogan_box{
    width: 25%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    /* border:green 1px solid; */
}

.fit{
    color: rgb(143, 204, 253);

}

.fit_ico{
    height: 30px;
    width: 30px;
    padding: 0 0 0 10px;


}

.food{
    
    color: rgb(155, 248, 152);

}

.posit{
    color: rgb(253, 239, 160);
}

.trainer{
    width: 80%;
}

.h1_trainer{
    padding-top: 150px;
    font-size: 1.6em;
    color: #747171;
    text-align: center;
    /* border: 1px solid blue; */
    
}

.about_trainer{
    width: 100%;
    border-top: 2px  #747171c0 solid;
    font-size: 1.2em;
    
}

.about_training{
    width: 100%;
    border-top: 2px  #747171c0 solid;
}

.about_trainig_text{
    margin: 15px 0 15px 0;
    width: 100%;
    font-size: 1.2em;
}

.training_banner{
    margin-top: 50px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: space-between;

}
.training_row{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
}

.training_box{
    width: 260px;
    height:50px; 
   
    background: #f7b0c542; 
    border: rgba(0, 0, 0, 0.418) solid 1px;
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
    padding: 0 5px 5px 0;
    font-size: 1.5em;
    color: #000000;

}



.about_contacts{
    width: 100%;
    border-top: 2px  #747171c0 solid;
    
}

.contacts_text{
    margin-top: 20px;
}

.contacts{
    margin-top: 50px;
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.contacts_res{
    margin-top: 20px;
    width:100%;
    height: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}

.soc1{
    height: 50px;
    width: 35%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.soc2{
    height: 50px;
    width:20%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.soc_box{
    height: 30px;
    width: 30px;
}

.footer{
    margin-top: 100px;
    width: 100%;
    height: 70px;
    background: #9e9d9d;
    display: flex;
    justify-content: center;
}

.f_content{
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.f_block{
    width: 40%;
    height: 70px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    font-size: 0.9em;
    color: black;
}
 
.training_main_banner{
    margin-top: 10px;
    width: 100%;
    height:350px;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    border-top: rgba(0, 0, 0, 0.438) 2px solid;
    
    border-bottom: rgba(0, 0, 0, 0.438) 2px solid;
    
    background: #f7b0c542; 
}

.training_main_box{
    width: 33.3%;
    height:340px;
   
}

.training_main_box img{
    object-fit: cover;
}

.h1_training{
    padding-top: 50px;
    font-size: 1.6em;
    color: #747171;
    text-align: center;
}





#go-top {
    position: fixed; 
    bottom: 25px; 
    right: 25px;
    text-align: center;
    cursor:pointer; 
    display:none;
    width: 40px;
    height: 40px;
    background: #f7b0c542; 
    border: solid #747171 2px;
    line-height: 30px;
    border-radius: 3px;
  }
  
  #go-top:hover {
    background: #8d6a7442; 
    color: #fff;
  }

  .modal{
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 0; 
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000dc;
   
  }

.modal_login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
  }

  .modal_content{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: space-between;
    /* top: 60px; 
    right: 100px; */
    width: 400px;
    height: 300px;
    background: #ffffff;
    border-radius: 4px;
    
    border: grey solid 1px;
  }

  .h_modal{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    color: grey;

  }

  .f_modal{
    width: 95%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    color: grey;
  }

  .form_modal{
    width: 98%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    color: grey;

    
  }

  .login_inpt{
    width: 65%;
    height: 30px;
    border: grey solid 1px;
    border-radius: 3px;
    text-align: start;
    padding: 0 0 5px 5px;
  }

  .h2_login{
      color:rgb(65, 64, 64);
  }

  #close{
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: #ffffff solid 1px;
    font-size: 1em;
    background: url(close.png);
    background-size: cover;
    opacity: 0.5;

  }

  .btn_form{
    width: 20%;
    height: 30px;
    text-align: center;
    border: grey solid 1px;
    background: #f7b0c542; 
    border-radius: 3px;
  }

  .reg_content{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(22, 22, 22);
  }
 
  .reg_content1{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff; 
    border-radius: 3px;
  }

  .h1_reg{
      font-size: 1.8em;
      color: rgb(22, 22, 22);
      
      padding: 20px 0 20px 0;
  }

  .reg_form{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  

  .btn_form_reg{
      padding: 0 20px 0 20px;
    width: 30%;
    height: 40px;
    text-align: center;
    border: rgb(22, 22, 22) solid 1px;
    background: #f7b0c542; 
    color: black;
    border-radius: 3px;
    font-size: 1em;
  }

  .close_reg{
    width: 20px;
    height: 20px;
    background: red;
    opacity: 0.5;
    
    border-radius: 3px;

  }

  .anchors{
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background: #f5cfdb42; 
      
    border-bottom: rgba(0, 0, 0, 0.438) 2px solid;
    
  }

  .anchor{
    height: 40px;
    background: none; 
    border: none;

  font-size: 1.2em;

  transition: all .3s;
  
  scroll-behavior: smooth;

}

.anchor:hover{
    
    color: #555454; 
}

.timetable{
    margin-top: 10px;
    width: 1200px;
    height: 700px;
    
}

.map{
    width: 100%;
    height: 200px;
  }

  .btn_admin{
      display: none;
      height: 40px;
      width: 150px;
      padding: 10px 0 10px;
    border-radius: 4px; 
    border: solid #747171 1px;
    background: #d65656;
    text-align: center;
    margin: 50px 0 0 1050px;
    color: white ;
  }

.h1_tt{
    width: 80%;
    text-align: center;
    font-size: 1.5em;
    margin-top: 40px;
    color: #747171;
    border-bottom: #747171af solid 2px;
    border-radius: 5px;
    padding: 0 0 40px;

}

.h2_tt{
    width: 80%;
    text-align: center;
    font-size: 1em;
    top: 50px;
    color: #d65656;
    margin-top: 0;
}

.block_rew{
    margin: 90px 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.rev_h{
    width: 80%;
    padding: 5px 0 5px;
    font-size: 1.8em;
    text-align: center;
    background: #000000a2;
    color: white; 
    border: rgba(128, 128, 128, 0.466) solid 1px; 
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px;
    border-bottom: none;

}

#userRewInpt{
    display: none;
    width: 80%;
    height: 150px;
    margin: 50px 0;

}

#userQuesInpt{
    display: none;
    width: 80%;
    height: 150px;
    margin: 50px 0;

}

.user_feature{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
   
}

.inpt_rew{
    width: 100%;
    height: 100px;  
    border-radius: 4px;
    border: #000000a2 solid 1px;
    justify-content: flex-start;

    
}

.rew_btn{
    width: 10%;
    height: 30px;
    margin: 0 1px;
    text-align: center;
    background: #000000a2;
    color: white; 
    border: rgba(128, 128, 128, 0.466) solid 1px; 
    
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px;
}

.rew_list{
    width: 80%;
    min-height: 1100px;
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px;
    display: flex;
   
    
   flex-direction: column;
   align-items: center; 
    border: #000000a2 solid 1px; 
    background: #f5cfdb42; ;
}

.rew{
    margin: 10px 0;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: rgba(128, 128, 128, 0.466) solid 1px;
    
    background: rgb(255, 255, 255) ;
    border-radius: 4px;
    
    
}

.rew_name{
    text-align: center;
    width: 15%;
    border-right: rgba(128, 128, 128, 0.103) solid 1px;
    border-radius: 4px;
    
    background: rgba(243, 243, 243, 0.486);
    padding: 10px 0;
}

.rew_text{
    
    
    padding: 10px 0;
    width: 70%;
    border-radius: 4px;
}

.rew_date{
    padding: 10px 0;
    text-align: center;
    width: 10%;
    border-left: rgba(128, 128, 128, 0.103) solid 1px;
    border-radius: 4px;
    background: rgba(243, 243, 243, 0.486);
    
}


.ask{
    margin: 0 150px 0 0 ;
    width: 80%;
    border: rgba(128, 128, 128, 0.466) solid 1px;
    border-top: none;
    background: rgba(128, 128, 128, 0.103) ;
    /* border: #fff9fb solid 1px;  */
    border-bottom-left-radius: 4px;   
    border-bottom-right-radius: 4px;
    padding: 10px;
    
}

.ask_list{
  
    width: 80%;
    min-height: 1150px;
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px;
    display: flex;
   
    
   flex-direction: column;
   align-items: center; 
    border: #000000a2 solid 1px; 
    background: #f5cfdb42; ;

}

.r_an{

    margin-top: 50px;
    border-top: rgba(0, 0, 0, 0.438) 2px solid;
    
}

.news_content{
    width: 80%;
    min-height: 800px;
    border-radius: 4px;
    display: flex;
   
    margin: 40px 0 0 0;
   flex-direction: column;
   align-items: center; 
    border: rgba(128, 128, 128, 0.466) solid 1px; 
    background: #f5cfdb42; ;
}

.new_news{
    margin: 5px 0;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: rgba(128, 128, 128, 0.466) solid 1px;
    
    background: rgb(255, 255, 255) ;
    border-radius: 4px;
    
}

.date_news{
    width: 10%;
    
    padding: 10px;
    background: rgba(243, 243, 243, 0.486);
    
}

.text_news{
    width: 90%;
    padding: 10px;
    border-left: rgba(128, 128, 128, 0.103) solid 1px;
    display: flex;
    flex-direction: column;
}

.imgs_news{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.img_news{
    width: 200px;    
    height: 200px;
    margin: 5px;
}

.img_news img{
    object-fit: cover;
}

.btn_news{
    width: 100px;
    height: 30px;
    
    margin: 0 1px;
    background: #000000a2;
    color: white; 
    border: rgb(128, 128, 128) solid 1px; 
    
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px;
    border-top:none;
}

.btns_news{
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: row;
   justify-content: flex-end;

   
}

.btn_addnew{
    height: 40px;
    width: 150px;
    padding: 10px 0 10px;
  border-radius: 4px; 
  border: solid #747171 1px;
  background: #d65656;
  text-align: center;
  color: white ;
}

.inpt_news{
    height: 100px;
    width: 79%;
    margin: 0 10px 0 0;
  border-radius: 4px; 
  border: solid #747171 1px;
  font-size: 1em;
}
#addNews{
    margin: 0px 0 0 0;
     display:none; 
    width: 80%;
    height: 100%;
}

.img_ico_news{
    display: flex;
    flex-direction: row;
    
    height: 70px; 
    margin: 0 0 0 250px;
}

.icon_del{
    height: 15px;
   width: 15px;
    top: 0%;
    right:0%;
    object-fit: cover;
}

.block_icon{
    height: 50px; 
    width: 50px;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.block_icon img{
    object-fit: cover;

}



.admin_news{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
   justify-content: flex-end;
  
}

.admin_items{
    height: 100px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#selectSmile{
    width:100%;
    height: 30px;
    font-size: 0.9em;
}

.smile{
    width:100%;
    height: 30px; 
    font-size: 1em;

}

.q_a{
    margin: 15px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.q{
 
    margin: 10px 0;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: rgba(128, 128, 128, 0.466) solid 1px;
    
    background: rgb(255, 255, 255) ;
    border-radius: 4px;
}

.photo_content{
    margin: 40px 0 0 0;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 4px;
    padding-bottom: 10px;
    border-bottom: #000000a2 solid 2px;
}

.photo_row{
    width: 100%; 
    height: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
}

.photo_block{
    padding: 5px;
    width: 350px;
    height: 350px;
    /* margin: 5px; */
    

}

.photo_block img{
   
    border-radius: 4px;
    border: solid grey 1px;
    object-fit: cover;

}

.photo_block:hover{
    transition: 0.5s;
    padding: 0px;
    width: 360px;
    height: 360px;

}

.del_photo{
    /* display: absolute; */
     display: none;  
    width: 15px;
    height: 15px; 
    
    border: solid grey 1px;
    border-radius: 4px;
}


.modal_photo{
    
    display: none;
    
    position: fixed;
    z-index: 6;
    bottom: 0; 
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000dc;
   
  }

.big_photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
  }

  .big_photo_content{
    display: flex;
    align-items: center;
     justify-content: center;
    /* top: 60px; 
    right: 100px; */
    width: 100%;
    height: 100%;
    background: #0000000a;
    border-radius: 4px; 
    /* border: rgb(0, 0, 0) solid 1px; */
  }

  .big_photo_content img{
    max-width: none;
    min-width: auto;
    min-height: auto;

    object-fit: scale-down;
    
    height: 100%;
    
  }

  .str{
      padding: 5px;
  }


  .del{
      display: none;
      width: 15px;
      height: 15px;
      background: #d65656;
      border-radius: 3px;
    }


    .admin_anchors{
        width: 100%;
        height: 50px;
        background: #000000bd;
        position: fixed; /* Фиксированное положение */ 
        top: 0%; /* Расстояние сверху */
       
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: white;
        font-size: 1.2em;
    }

    .btn_add_photo{
        height: 30px;
        width: 160px;
       /*  padding: 10px 0 10px; */
      border-radius: 4px; 
      border: solid #747171 1px;
      background: #d65656;
      text-align: center;
      color: white ;
    }
    
    .photo_form{
        display: flex;
        flex-direction: column;
        height: 80px; 
        align-items: center;
        justify-content: space-around;
    }

    .a{
        padding: 0 0 0 95px;
        display: flex;
        flex-direction: column;
        height: 30px;
        align-items: center;
        justify-content: center;
    }

    .add_photo{
        display: none; 
        margin: 40px 850px 0  0 ;
        height: 100px;
    }

    .add_photo_news{
       
        display: none; 
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 21%;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .photo_form_news{
        display: flex;
        flex-direction: column;
        height: 80px; 
        padding: 0 -60px 0 0;
        align-items: center;
        justify-content: space-between;
        
        width: 70%;
    }

   
    .admin_out{
        color: white;
    }

    #formQ{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .new_ask{
        min-height: 400px;
    }

    .asks{
        padding: 100px 0 0;
    }


    .inpt_video{
        height: 50px;
        width: 50%;
        margin: 0 10px 0 0;
      border-radius: 4px; 
      border: solid #747171 1px;
      font-size: 1em;
    }

    .video{
        width: 500px;
        height: 300px;
        border: 0;
    }

    .video_block{
        width: 500px;
        display: flex;
        flex-direction: column;

    }

    .onmail{
        width: 100%;
        margin: 200px 0 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .inpt_send_text{
    width: 80%;
    height: 100px;  
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: #000000a2 solid 1px;
    
    justify-content: flex-start;
    }


